* {
  z-index: 3;
}
body {
  font-family: "DM Serif Display", serif;
  font-family: "Montserrat", sans-serif;

  /* overflow: hidden; */
  /* height: 100vh; */
  background-color: #0c001d;
}
/* navbar */
.navbar a {
  font-size: 15px;
  font-weight: 400;
}
.navbar a img {
  border-radius: 50px;
}
.btn-download {
  border: 1px solid #fff;
  color: #fff;
  font-size: 15px;
  border-radius: 9px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(8.5px);
  box-shadow: 0 8px 32px 0 rgba(68, 0, 255, 0.2);
  width: 160px;
  height: 38px;
}
.btn-download a {
  text-decoration: none;
  color: #fff;
}
.btn-download:hover {
  background-color: #0067ee;
  color: #fff;
}

.heading1 {
  font-family: "DM Sherif", serif;
  font-size: 70px;
  color: #fff;
  /* text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue; */
}
.heading2 {
  font-family: "DM Sherif", serif;
  font-size: 35px;
  color: #fff;
}
.bodytext1 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #fff;
}
.bodytext2 {
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  color: #fff;
}
.blur-background {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(8px);
  box-shadow: 0 8px 32px 0 rgba(68, 0, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.486);
}
.tagline p {
  font-size: 16px;
  font-weight: 300;
  margin-top: -15px;
  color: #b5b5b5;
}

/* Konten */
/* Slide 1 */
.knowledge {
  height: 27px;
  font-size: 11px;
  color: #fff;
  border-radius: 5px;
  background-color: #0067ee;
  backdrop-filter: blur(8px);
  box-shadow: 0 8px 32px 0 rgba(68, 0, 255, 0.2);
}
.skill {
  height: 89px;
  border-radius: 5px;
}
/* Slide 2 */
.image {
  -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, transparent, #0004);
}

.box {
  position: relative;
  width: 215px;
  height: 295px;
  background-color: #444;
  margin: 0 70px;
  margin-top: 10px;
  border-radius: 20px;
  background: linear-gradient(45deg, #2da2ff 25%, #444 25%, #444 50%, #2da2ff 50%, #2da2ff 75%, #444 75%, #444 100%);
  background-size: 40px 40px;
  filter: grayscale(1);
  animation: animateBg 1s linear infinite;
  animation-play-state: paused;
  transition: 1s;
  display: flex;
  justify-content: center;
}
.box:hover {
  animation-play-state: running;
  filter: grayscale(0);
}
.box img {
  position: absolute;
  bottom: 0px;
  height: 90%;
  transition: height 0.5s;
}
.box:hover img {
  height: 330px;
}
@keyframes animateBg {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 40px;
  }
}
/* education */
.education {
  margin-top: 20px;
  width: 250px;
}

/* circle blur */

.circle-blur-1 {
  width: 800px;
  height: 800px;
  background-color: #e604c1;
  border-radius: 50%;
  position: absolute;
  top: -400px;
  left: -300px;
  filter: blur(100px);
  z-index: 1;
}

/* Mengatur Responsive */
@media screen and (max-width: 425px) {
  .heading1 {
    font-size: 40px;
  }
  .bodytext1 {
    font-size: 30px;
  }
  .box {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  .slide-3 {
    margin-top: 100px;
  }
}
@media screen and (max-width: 630px) {
  .box {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 991px) {
  .box {
    margin-left: auto;
    margin-right: auto;
  }
  .slide-3 {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 992px) {
  .box {
    margin-left: auto;
    margin-right: auto;
  }
}
